/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/

@use 'vuetify/settings' with (
  $color-pack: false
);

/* Recrear el diseño del v-application */
.v-application {
  background:
    /* Top-Right Light Blue Band */
    linear-gradient(45deg, transparent 88%, #0097d5 88%, #0097d5 89%, transparent 89%) right top / 100% 100% no-repeat,
    /* Additional Line */
    linear-gradient(45deg, transparent 85%, #ffffff 85%, #ffffff 86%, transparent 86%) right top / 100% 100% no-repeat,
    /* Top-Right Darker Blue Triangle */
    linear-gradient(45deg, transparent 86%, #004572 86%) right top / 100% 100% no-repeat,
    /* Bottom-Left Light Blue Band */
    linear-gradient(45deg, transparent 11%, #0097d5 11%, #0097d5 12%, transparent 12%) left bottom / 100% 100% no-repeat,
    /* Additional Line */
    linear-gradient(45deg, transparent 14%, #ffffff 14%, #ffffff 15%, transparent 15%) left bottom / 100% 100% no-repeat,
    /* Bottom-Left Darker Blue Triangle */
    linear-gradient(45deg, #004572 14%, transparent 14%) left bottom / 100% 100% no-repeat,
    /* Main Gradient Background */
    radial-gradient(circle at center, #4577a2 0%, #145381 100%);
}

/* Gradiente para el v-overlay (desenfoque) */
.v-overlay__scrim {
  background: linear-gradient(to right, #4577a2, #145381) !important;
  opacity: 0.93 !important;
}

/* Gradiente para el v-card (containers) */
.v-card {
  background: linear-gradient(to right, rgba(39, 98, 145, 0.7), rgba(30, 84, 131, 0.7)) !important;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7) !important;
  border: 1px solid !important;
}

/* Gradiente para el v-expansion-panel-title (titulo del expansion-panel) */
.v-expansion-panel-title {
  background: linear-gradient(to right, #191a27) !important
}

/* Transpariencia para el v-list (lista de elementos) */
.v-list {
  background: linear-gradient(to right, #191a27) !important;
}

/* Transpariencia para el v-navigation-drawer (barra lateral) */
.v-navigation-drawer {
  background: linear-gradient(to right, #191a27) !important;
}

/* Transpariencia para el v-file-upload (carga de archivos) */
.v-file-upload {
  background: rgba(255, 255, 255, 0.0) !important;
}

/* Estilo para botones de acción */
.action-button {
  background: #1d1e33 !important;
}

/* Estilo para botones de cancelación */
.cancel-button {
  background: #800000 !important;
}

/* Mejoras de nitidez de fuente */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
