/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/

@use 'vuetify/settings' with (
  $color-pack: false
);

/* Gradiente para el v-application (background) */
.v-application {
  &.v-theme--dark,
  &.v-theme--light {
    background-image: linear-gradient(to right bottom, #1e213d, #222a4b, #25335a, #253d69, #244779, #215589, #1b6499, #1073a8, #118ab9, #23a1c8, #3bb8d5, #56cfe1);
  }
}

/* Gradiente para el v-overlay (desenfoque) */
.v-overlay__scrim {
  background: linear-gradient(to right bottom, #1e213d, #222a4b, #25335a, #253d69, #244779, #215589, #1b6499, #1073a8, #118ab9, #23a1c8, #3bb8d5, #56cfe1);
  opacity: 0.96 !important;
}

/* Gradiente para el v-card (containers) */
.v-card {
  background: linear-gradient(to right bottom, #003356, #111c35) !important;
  border: 1.5px solid;
  box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.5) !important;
}

/* Gradiente para el v-expansion-panel-title (titulo del expansion-panel) */
.v-expansion-panel-title {
  background: linear-gradient(to right bottom, #131321, #131321) !important;
}

/* Transpariencia para el v-list (lista de elementos) */
.v-list {
  background: linear-gradient(to right, #131321) !important;
}

/* Transpariencia para el v-navigation-drawer (barra lateral) */
.v-navigation-drawer {
  background: linear-gradient(to right, #131321) !important;
}

/* Transpariencia para el v-file-upload (carga de archivos) */
.v-file-upload {
  background: rgba(255, 255, 255, 0.0) !important;
}

/* Estilo para botones de acción */
.action-button {
  background: #0085d0 !important;
}

/* Estilo para botones de cancelación */
.cancel-button {
  background: #800000 !important;
}

/* Mejoras de nitidez de fuente */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
